.title-text {
	font-size: 100px;
}
.subtitle-text {
	font-size: 45px;
}
.navbar-padding {
    /*put space between navbar text and glyphs*/
	padding-right: 3px;
	padding-left: 3px;
}
body {
    /*set background color site-wide*/
	background-color: #9e9e9e;
}
.btn-primary {
	color: #000;
}
.glyph-padding {
    /*put space between glyph and text*/
    padding-right: 6px; 
}
.nav-color {
    /*sets the background color of the navigation panel*/
    background-color: #9fffe0; 
}
.nav-padding {
    /*pad entries in the navigation panel*/
    padding-top: 3px;
    padding-bottom: 3px;
}
.nav-text {
    color: black;
}
.panel-content-color {
    /*sets the background color of the binder content panel*/
    background-color: #cfcfcf; 
}

.panel-body {
    padding-top: 15px;
    padding-left: 15px;
}

.login-label {
    display: inline-block;
    width: 90px;
}

.login-input {
    width: 200px;
}